/*//////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS
// 1.0 - Reset
// 2.0 - html
// 3.0 - body
// 4.0 - container
// 5.0 - main
// 6.0 - header
// 7.0 - cards
// 8.0 - footer
// 9.0 - animations
//////////////////////////////////////////////////////////////////////////////*/

/* 1.0 - Reset
*******************************************************************************/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 2.0 - html
*******************************************************************************/

html {
    /* Setting the root font-size in percentage preserves the user's ability
    to adjust the browser font-size. If we set it in px, even though the user
    changes the browser font-size, it would not affect our hardset size. Setting
    the root font-size in percentage is more user friendly.

    Browser default font-size is typically 16px.
    To make conversion easier on us, we want the root font size to be 10px but
    in 1rem.
    (10 / 16) * 100 = 62.5
    */
    font-size: 62.5%;
}

/* 3.0 - body
*******************************************************************************/

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: hsl(229, 6%, 66%);
    background-color: #fafafa;
}

/* 4.0 - container
*******************************************************************************/
.container {
    min-height: 100vh;
    max-width: 1440px;
    padding: 8.2rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* 5.0 - main
*******************************************************************************/
.main {
    flex: 1;
    margin-bottom: 5rem;
}

/* 6.0 - header
*******************************************************************************/
.header {
    color: hsl(234, 12%, 34%);
    text-align: center;
    margin-bottom: 5rem;
    animation: moveInDown 2s ease-out;
    padding-left: 3rem;
    padding-right: 3rem;
}

.header__heading {
    font-size: 2.4rem;
    line-height: 1;
    padding: .75rem 0;
}

.header__heading--light {
    font-weight: 200;
}

.header__tagline {
    font-size: 1.5rem;
    color: hsl(229, 6%, 66%);
    max-width: 510px;
    margin-top: 1.6rem;
}

@media screen and (min-width: 28.125em) {
    .header__heading {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 30.000em) {
    .header {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 34.375em) {
    .header__heading {
        font-size: 3.6rem;
    }

    .header__tagline {
        font-size: 1.5rem;
    }
}

/* 7.0 - cards
*******************************************************************************/
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1142px;
    animation: moveInUp 2s ease-out;
}

.cards__middle {
    display: flex;
    flex-direction: column;
}

.cards__card {
    background-color: #fff;
    max-width: 311px;
    margin: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 13px 15px 0 rgba(216,226,236,.7);
    position: relative;
    overflow: hidden;
    padding: 3rem 3.2rem 3.1rem;
}

.cards__card::before {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cards__card--supervisor::before {
    background-color: hsl(180, 62%, 55%);
}

.cards__card--team::before {
    background-color: hsl(0, 78%, 62%);
}

.cards__card--karma::before {
    background-color: hsl(34, 97%, 64%);
}

.cards__card--calculator::before {
    background-color: hsl(212, 86%, 64%);
}

.cards__heading {
    font-size: 2rem;
    color: hsl(234, 12%, 34%);
    margin-bottom: .9rem;
}

.cards__text {
    font-size: 1.2rem;
    letter-spacing: .07rem;
    margin-bottom: 4rem;
    line-height: 1.8;
}

.cards__icon {
    display: block;
    float: right;
}

@media screen and (min-width: 30.000em) {
    .cards__card {
        max-width: 350px;
    }
}

@media screen and (min-width: 48.000em) {
    .cards__middle {
        flex-direction: row;
    }
}

@media screen and (min-width: 74.688em) {
    .cards {
        flex-direction: row;
    }

    .cards__middle {
        flex-direction: column;
    }
}

/* 8.0 - footer
*******************************************************************************/
.footer {
    font-size: 1.1rem;
    text-align: center;
    animation: moveInUp 2s ease-out;
}

.footer p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__link,
.footer__link:link,
.footer__link:visited {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s;
    backface-visibility: hidden;
    display: inline-block;
}

.footer__link:hover {
    color: hsl(0, 78%, 62%);
}

/* 9.0 - animations
*******************************************************************************/
@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}